{% extends 'layout.html' %}
{% load static %}
{% block title %}404{% endblock %}
{% block content %}
<section id="hero" class="d-flex align-items-center">

        <div class="container">
          <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
              <h1>Error 404</h1>
              <h2>Opps!... seems you visited the wrong page...</h2>
              <div class="d-lg-flex">
                <a href="{% url 'home' %}" class="btn-get-started scrollto">Back to home page</a>
              </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
              <img src="{% static 'img/hero-img.png' %}" class="img-fluid animated" alt="">
            </div>
          </div>
        </div>

      </section><!-- End Hero -->

<main id="main">
</main>
{% endblock %}