{% extends 'layout.html' %}

{% block title %}Terms and conditions {% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <main id="main">
    <section class="about">
          <div class="container" data-aos="fade-up">
            <div class="row content">
              <div class="col-md-10">

                  <h4>Condition of access</h4>
                <p> Thank you for visiting our website. Before you go any further it is important that you read and understand the conditions
                    under which you'll use the site.
                </p>

                <h4>Acceptance</h4>
                <p>These conditions become effective when you access the site for the first time and
                    constitute a binding agreement between us (Talisa Insurance Brokers Limited “Talisa”) and
                    yourself, which will always prevail. The current version of these conditions will govern our
                    respective rights and obligations each time you access this site.</p>

                <h4>Online services</h4>
                <p>Our online products and services (online services) are subject to registration procedures and approvals, which we may accept or reject at our sole discretion.
                These online services are governed by separate terms and conditions (service terms)
                    that are available on the relevant sections of this site where the online services are provided.
                    In the event of conflict between these conditions and the service terms, the provisions of the service terms will apply.</p>

                <h4>Nature of information on the site</h4>
                <p>All information on this site is only intended to provide you with general information about us, our products,
                    services and objectives. Nothing on this site should be treated as an offer but merely as an invitation to do business with us.</p>

                <h4>We may provide information from time to time on:</h4>

                    <ul>
                        <li><i class="ri-check-double-line"></i>Projected revenues, income, earnings per share, capital expenditures, dividends, capital structure or other financial items;</li>
                        <li><i class="ri-check-double-line"></i>The plans, objectives and/or projections of the Company for future operations, including those relating to the services of the Company; or</li>
                        <li><i class="ri-check-double-line"></i>Future economic performance. Such projections are only estimates. Actual events or results may differ.</li>
                        <li><i class="ri-check-double-line"></i>All information is provided "as is" and should not be treated as professional or investment advice of any kind. You should consult your own professional advisors before relying on any information on this site.</li>
                    </ul>

                <h4>Your privacy and security</h4>
                <p>Our commitment to your privacy and the security of your personal information is outlined in our privacy and security statement.</p>

                <h4>Amendments to these conditions</h4>
                <p>We may amend these conditions from time to time. By accessing this site you are bound to the version of the conditions published here at the time of any visit to this site. You agree to view the current version each time you access the site.
                </p>

                <p>A certificate signed by the administrator responsible for maintaining this site will be
                    prima facie proof of the date of publication and content of the current version and all previous versions of the conditions.</p>

        <h4>Information feeds</h4>
                <p>We may use the services of other organizations to provide information on the site. We have no control over this information and make no representations or warranties of any nature as to its accuracy, appropriateness or correctness. You agree that such information is provided "as is" and we will not be directly or indirectly liable for any damages that may arise from your reliance on it.
                All quotes, news, market information or data shown on the site by way of live information feeds are delayed by
                    at least 15 minutes unless otherwise stated. You should always select the "refresh" or similar page update functio
                    n on your Internet browser to ensure that the information you are viewing is the most current.</p>

        <h4>Linked third party sites</h4>
                <p>This site may contain links to other websites with information and material
                    produced by other parties. While we try to provide links only to reputable websites,
                    we cannot accept responsibility or liability for the information provided on other websites.
                    A link from our site to any other website does not mean that we have scrutinized or endorsed
                    the owners or administrators of the websites or their business or security practices and operations.</p>

        <h4>Permission for hyperlinks, deep linking, crawlers and metatags</h4>
                <p>Nobody may establish a hyperlink, frame, metatag or similar reference, whether electronically or othe
                    rwise (collectively referred to as linking), to this site or any subsidiary pages before receiving our
                    prior written approval, which may be withheld or granted subject to the conditions we specify from time to time.</p>

                <p>An application for linking must be submitted to  info@talisagroup.com. Once received we will do our
                    best to respond and enter into further discussions with you. If you don't get a written response
                    from us within five business days, consider your request as having been rejected.</p>

                <p>Breach of these conditions entitles us to take legal action without prior notice
                    to you and you agree to reimburse the costs associated with such legal action to us on an attorney and own client scale.</p>

        <h4>Our intellectual property</h4>
                <p>We retain all copyright and other intellectual property rights in all material, including logos and other graphics
                    and multimedia works published on or via the site. You are authorized to view and download one copy to a
                    local hard drive or disk, print and make copies of such printouts, provided that:</p>

                    <ul>
                        <li><i class="ri-check-double-line"></i>The material is used for considering use of the online services
                            and for no othe r commercial purposes;</li>
                        <li><i class="ri-check-double-line"></i>Any reproduction of our proprietary material from
                            this site or portion of it must include our copyright notice in its entirety.</li>
                    </ul>

                <p>The logos and trademarks shown on this site are our registered and unregistered trademarks or that of
                    third parties. Nothing on this site should be construed as granting any license or right to use any
                    trademark without our prior written permission and/or that of third parties, as the case may be. You may not,
                    without our prior written permission, use our intellectual property or that of third parties for any other purposes.
                    An application to use our intellectual property must be submitted to info@talisagroup.com. Upon receiving your application,
                    we will do our best to respond and enter into further discussions with you. If you don't get a written response
                    from us within five business days, consider your request as having been rejected.</p>

                <p>Irrespective of the existence of copyright, you acknowledge that we are the proprietor of
                    all material on the site, whether it constitutes confidential information or not, and that you have no right,
                    title or interest in any such material.</p>

        <h4>Software</h4>
                <p>You are required to use and maintain hardware and software of sufficient quality and performance capability
                    and to use only the latest versions of Microsoft Internet Explorer and Netscape browsers.
                    Your failure to use these browsers may result in a higher security risk and/or cause some or all of the
                    functionality of the site not to operate properly or at all.</p>

                <p>Software, if any, made available for download on or via our site is governed by license conditions that establish a legal relationship with the licensor. You indemnify us against any breach of these license conditions. We give no warranty and make no representation, whether express or implied, as to the quality or fitness for purpose of the use of such software.
                No warranty, whether express or implied, is given that any files, downloads or
                    applications available via this site are free of viruses, trojans, bombs,
                    time-locks or any other data or code which has the ability to corrupt or affect the operation
                    of your computer, database, network or other information system.</p>

        <h4>Transmission of information</h4>
                <p>Information transmitted via an unsecured link over the Internet, including email, is
                    susceptible to potential unlawful access, distortion or monitoring. The measures we have
                    taken to limit these risks are outlined in our privacy and security statement. As we do not have
                    the ability to prevent unlawful activities by unscrupulous persons, you accept that we cannot be
                    held liable for any loss, harm or damage suffered by you as a result. To limit these risks,
                    we may request independent verification of any information transmitted by you via the site or email from time to time.</p>

        <h4>Termination, suspension and limitation</h4>
                <p>We may modify, suspend or discontinue the site, whether temporarily or permanently,
                    without notice. We may also impose limits or conditions on the right to certain services,
                    features or functions and we may restrict access to parts of or all of the services on the site.</p>

        <h4>No warranties or representations</h4>
                <p>We do not warrant that the site or online services will be error-free or will meet any particular criteria of accuracy, completeness or reliability of information, performance or quality.
                We expressly disclaim all implied warranties, including, without limitation, warranties of
                    merchantability, title, fitness for a particular purpose, year 2000-compliance, non-infringement,
                    compatibility, security and accuracy.</p>

        <h4>Disclaimer and limitation of liability</h4>
                <p>Although we have taken care to ensure that the content on this site is accurate and
                    that you suffer no loss or damage as a result of your use of this site, this site and
                    the online services are provided "as is". Use of this site and the online services is entirely at your own risk.
                    You assume full responsibility for the risk or loss resulting from your use of this site and
                    your reliance on the material and information contained on it.</p>

                <p>We and our affiliates, shareholders, agents, consultants or employees are not liable for any
                    damages whatsoever relating to your use of this site or the online services or the information
                    contained on this site or your inability to use this site or the online services. This includes,
                    without limitation, any direct, indirect, special, incidental, consequential or punitive damages,
                    whether arising out of contract, statute, delict or otherwise and regardless of whether we were
                    expressly advised of the possibility of such loss or damage.
                    Without derogating from the generality of the above, we will not be liable for:</p>
                        <ul>
                        <li><i class="ri-check-double-line"></i>Any interruption, malfunction, downtime or other
                            failure of the site or online services, our system, databases or any of its components, for whatever reason;</li>
                        <li><i class="ri-check-double-line"></i>Any loss or damage arising from your orders,
                            investment decisions, purchases or disposal of goods and services, including financial instrument(s)
                            or currency, from third parties, based on the information provided on this site;</li>
                        <li><i class="ri-check-double-line"></i>Any loss or damage with regard to customer data or
                            other data directly or indirectly caused by malfunction of our system, third party systems,
                            power failures, unlawful access to or theft of data, computer viruses or destructive code on
                            our system or third party systems; programming defects or negligence on our part;</li>
                        <li><i class="ri-check-double-line"></i>Any interruption, malfunction, downtime or other failure of goods or
                            services provided by third parties, including, without limitation, third party systems such as the
                            public switched telecommunication service providers, internet service providers, electricity suppliers,
                            local authorities and certification authorities;</li>
                            <li><i class="ri-check-double-line"></i>Any event over which we have no direct control.</li>
                        </ul>

        <h4>How disputes will be resolved</h4>
                <p>Subject to the relevant service terms, all disputes arising as a result of your use of the
                    site or on the interpretation of these conditions or on any matter which in terms of the
                    conditions requires agreement by the parties, (other than where an interdict is sought or
                    urgent relief may be obtained from a court of competent jurisdiction), will be submitted to and decided by arbitration.</p>

                <p>That arbitration will be held with only the parties and their representatives
                    present at the offices of the Lagos State Multi-Door Court House (LSMCH).
                    The arbitration will be governed by the rules of the Arbitration in terms of the Nigerian
                    la and will be heard by an arbitrator or arbitrators appointed by the foundation LSMCH.</p>

                <p>Either party will be entitled to have the award made an order of court of competent jurisdiction.
                    The parties will keep the evidence in the arbitration proceedings and any order made by any arbitrator
                    confidential unless otherwise contemplated. The arbitrator will have the power to give default judgment
                    if any party fails to make submissions on due date and/or fails to appear at the arbitration.</p>

                <h4>Capacity to enter into agreements</h4>
                <p>You hereby warrant to us that you have the required legal capacity to enter
                    into and be bound by contractual terms. Minors must be assisted by their legal
                    guardians when reading these conditions. If you are unsure whether you have the legal
                    capacity to enter into agreements, contact someone able to provide you with this information
                    before you continue using this site.</p>

        <h4>Certificate</h4>
                <p>A certificate signed by us will constitute prima facie proof of the operation
                    or functionality of the online services or any part thereof
                    and the contents of any information displayed on the site on a given date.</p>

        <h4>Our address for notices and service of legal process</h4>
                <p>Our chosen address for any legal notice is: Head, Legal Services, Talisa
                    Insurance Brokers Limited, 8, Mosuro Street, Abule Oja, Yaba, Lagos, Lagos</p>

                <h4>The law governing our relationship</h4>
                <p>The conditions will be governed and construed in accordance with the law of the Federal
                    Republic of Nigeria without reference to any conflict of law provisions.</p>

                <h4>General provisions</h4>
                <p>The headings of the clauses in the conditions are provided for convenience and
                    ease of reference only and will not be used to interpret, modify or amplify the terms of the conditions.</p>

                <p>Where any dates or times need to be calculated in terms of the conditions, the West African time: WAT shall be used.</p>

                <p>No failure or delay by us to exercise any of our rights will be construed as a waiver of any such right,
                    whether this is done expressly or implied, nor will it affect the validity of any
                    part these conditions or prejudice our right to take subsequent action against you.</p>

                <p>If any of these terms, conditions or provisions are held to be invalid,
                    unlawful or unenforceable; the term, condition or provision will be deleted from the remaining terms,
                    conditions and provisions which will continue to be valid to the full extent permitted by law.</p>
                <p>If you have any questions or do not understand anything in these conditions please send
                    an email to info@talisagroup.com and we will respond to you as soon as possible.</p>

              </div>
            </div>
          </div>
        </section><!-- End About Us Section -->
    </main>
{% endblock %}